* {
    margin: 0;
    padding: 0;
}


/* ======= Workout ====== */

#form-exercise {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    
}

#form-exercise > div, #form-exercise > input {
   background-color: aqua;
   border: 1px solid black;
    
}

input[type=submit], button {
    max-width: 100px;
}


/* ======= index ====== */

#workouts {
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}

.item {
    margin: 5px;
    background-color: aqua;
}

